.footer {
  width: 200px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #D1CCE3;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 8px 12px;
  margin: 0 auto;
  border-radius: 8px;
}

.author, .year {
  line-height: 1;
  font-size: 18px;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.github-link:hover {
  transform: rotate(45deg);
}

.github-icon {
  width: 24px;
  height: 24px;
}

@media (min-width: 768px) {
  .footer {
    font-size: 14px;
    padding: 12px;
  }

  .github-icon {
    width: 28px;
    height: 28px;
  }
}