.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.score-container {
  color: #D1CCE3;
  font-family: 'Fredoka', sans-serif;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
}

.score-text {
  font-weight: 600;
  display: flex;
  gap: 8px;
}

@media (min-width: 640px) {

  .score-text {
      font-size: 1.125rem;
  }
}