.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loading-content {
  position: relative;
  font-family: 'Fredoka', sans-serif;
  color: #D1CCE3;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  width: 180px;
}

.loading-text {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  width: 180px;
  text-align: center;
}